env/
node_modules/
bundle.js
*.js.map
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache
bundle.js
*node_modules*
*/var/*
.vagrant/
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
.idea
*.DS_Store
Icon
.dropbox*
