@import url('https://fonts.googleapis.com/css?family=Jost:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #FCDE9C;
  color: #333745;
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: 'Jost', Helvetica, Arial, sans-serif;
  margin: 0;
}
p {
  margin: 0.25rem 0;
}
h1 {
  font-size: clamp(1.5rem, 10vw, 3rem);
  font-weight: 700;
  letter-spacing: .1rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .05rem;
  line-height: 1.8rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .05rem;
}

.align {
  margin: 0 1.5rem;
}
.align-small {
  margin: 0 1.5rem;
  width: min(calc(100% - 3rem), 30rem);
}
.center-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.align-right {
  margin-left: auto;
  margin-right: 0;
  display: block;
}
.center-text {
  text-align: center;
}
.fade {
  color: #333745c5;
}

.padding-horizontal {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.search-bar {
  width: min(calc(100% - 4rem), 40rem);
  border-radius: 2rem;
  border: none;
  background-color: white;
  padding: 0.5rem;
  filter: drop-shadow(0px 5px 3px #0000003f);
}
.search-bar form {
  width: 100%;
}
.text-input {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  border: none;
}

.flex {
  display: flex;
}
.flex-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spacer {
  height: 2rem;
  display: block;
}
.spacer-mini {
  height: 1rem;
  display: block;
}
.spacer-mini-mini {
  height: 0.5rem;
  display: block;
}

.columns {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.desktop-only {
  display: none;
}

.card {
  background-color: white;
  padding: 1.2rem;
  border-radius: 0.8rem;
  filter: drop-shadow(0px 5px 3px #00000041);
  max-width: 60rem;
}
.card h2 {
  color: #4c9a68;
}
.card img {
  width: min(100%, 20rem);
}

.underline {
  padding-bottom: 0.3rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #00000041;
  width: 100%;
}
.vertical-line {
  width: 1px;
  background-color: #00000025;
  height: 100%;
}

.capsule {
  border-radius: 2rem;
  background-color: #C9B1BD;
  padding: 0 0.6rem;
  margin: 0.2rem 0.25rem 0 0.25rem;
  width: fit-content;
  font-size: 0.8rem;
}

button {
  background-color: #4c9a68;
  border: solid 2px #4c9a68;
  border-radius: 1rem;
  padding: 0.2rem 1.2rem;
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: all ease-out 0.1s;
}
button:hover {
  cursor: pointer;
  filter: drop-shadow(0px 2px 2px #00000029);
}

.arrow {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
  transition: "all 0.15s ease-out";
  border: none;
}
.arrow img {
  width: 100%;
}


@media only screen and (min-width: 768px) {
  .columns-desktop {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    grid-template-columns: 1fr auto 1fr;
  }
  .columns-desktop-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}
